/* #EE0055 */

html, body {
    margin: 0px;
    padding: 0px;
}
div, input, button {
    font-family: monospace, sans-serif;
    overflow: hidden;
    word-wrap: break-word;
}

#main {
    margin: 32px auto;
    width: 90%;
    max-width: 800px;
}
.top {
    min-height: 80px;
}
button {
    display: block;
    margin: 0px;
    border: 1px solid black;
    width: 100%;
    padding: 12px 4px;
    background: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    outline: 0;
}
button:focus {
    background: #EE0055;
    color: black;
}
#connect {
    display: none;
}
.top p {
    margin: 12px;
    text-align: center;
}
label {
    overflow: hidden;
    display: block;
    cursor: pointer;
}
label span {
    padding: 10%;
}
input {
    display: block;
    margin: 4px auto 32px;
    border: 1px solid white;
    border-bottom-color: black;
    width: 84%;
    padding: 8px;
    background: transparent;
    font-size: 18px;
    outline: 0;
}
input:focus {
    border: 1px solid #EE0055;
}
#balance, #dividends, #hint {
    margin: 12px 4px;
    min-height: 24px;
    text-align: center;
}
#hint {
    color: #EE0055;
}
.line button {
    float: left;
    width: 50%;
}
#ref {
    margin: 16px 4px;
    min-height: 24px;
    text-align: center;
}
a {
    color: black;
    outline: 0;
}
a:focus {
    color: #EE0055;
}

@media (hover: hover) {
    button:hover {
        background: #EE0055;
        color: black;
    }
    input:hover {
        border: 1px solid #EE0055;
    }
    a:hover {
        color: #EE0055;
    }
}

@media (min-width: 560px) {
    label {
        float: left;
        width: 50%;
    }
}