/* #EE0055 */

html, body {
    margin: 0px;
    padding: 0px;
}
h2, div, input, button {
    font-family: monospace, sans-serif;
    overflow: hidden;
    word-wrap: break-word;
}

#presale {
    background: #EE0055;
    margin-bottom: 64px;
}
#presaleLogo {
    position: absolute;
    margin: 8px;
    width: 120px;
    height: 120px;
    background: url(logo.svg) center/contain no-repeat;
    animation: in 10s forwards;
}
h1 {
    margin: 44px 0px 48px 136px;
    min-height: 98px;
    font-size: 32px;
    font-weight: normal;
}
#presaleTimer {
    margin: auto;
    max-width: 400px;
}
#presaleTimer div {
    overflow: hidden;
    float: left;
    width: 25%;
}
.presaleTimerHint {
    margin: 0px;
    height: 20px;
    text-align: center;
    font-size: 12px;
}
.presaleTimerValue {
    margin: 0px;
    text-align: center;
    font-size: 20px;
}
#presaleProgress {
    margin: 64px auto;
    width: 90%;
    max-width: 800px;
}
.presaleProgressHint {
    position: relative;
    height: 26px;
    font-size: 16px;
}
.presaleProgressHint p {
    position: absolute;
    margin: 4px 0px;
    width: 100%;
}
.presaleProgressCenter {
    text-align: center;
}
.presaleProgressRight {
    text-align: right;
}
#presaleProgressContainer {
    height: 32px;
    background: white;
}
#presaleProgressBar {
    height: 100%;
    width: 0%;
    background: black;
    transition: width 1s;
}
h2 {
    margin: 32px 16px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
#main {
    margin: 32px auto;
    width: 90%;
    max-width: 800px;
}
.top {
    min-height: 80px;
}
button {
    display: block;
    margin: 0px;
    border: 1px solid black;
    width: 100%;
    padding: 12px 4px;
    background: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    outline: 0;
}
button:focus {
    background: #EE0055;
    color: black;
}
#connect {
    display: none;
}
.top p {
    margin: 12px;
    text-align: center;
}
label {
    overflow: hidden;
    display: block;
    cursor: pointer;
}
label span {
    padding: 10%;
}
input {
    display: block;
    margin: 4px auto 32px;
    border: 1px solid white;
    border-bottom-color: black;
    width: 84%;
    padding: 8px;
    background: transparent;
    font-size: 18px;
    outline: 0;
}
input:focus {
    border: 1px solid #EE0055;
}
#balance, #dividends, #hint {
    margin: 12px 4px;
    min-height: 24px;
    text-align: center;
}
#hint {
    color: #EE0055;
}
.line button {
    float: left;
    width: 50%;
}
#ref {
    margin: 16px 4px;
    min-height: 24px;
    text-align: center;
}
a {
    color: black;
    outline: 0;
}
a:focus {
    color: #EE0055;
}

@media (hover: hover) {
    button:hover {
        background: #EE0055;
        color: black;
    }
    input:hover {
        border: 1px solid #EE0055;
    }
    a:hover {
        color: #EE0055;
    }
}

@media (min-width: 560px) {
    label {
        float: left;
        width: 50%;
    }
}
@media (min-width: 600px) {
    #presaleLogo {
        margin: 32px;
    }
    h1 {
        margin: 64px 0px 48px 160px;
        font-size: 40px;
    }
    .presaleTimerValue {
        font-size: 24px;
    }
}

@keyframes in {
    0% {opacity: 1}
    5% {opacity: 0.06}
    100% {opacity: 1}
}